// Define variables for your color scheme

// For example:
$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;

$unc: #58AFD9;
$duke: #003784;

$background-gray: #DAE0E6;
$gray: #333333;
$hover-gray: rgb(232,232,232);
$border-gray: rgb(137,137,137);
$comment-gray: rgb(135,138,140);
$light-gray: rgb(246,247,248);
$very-light-gray: rgb(248,249,250);
$green: #006039;
$light-green: #34A753;
$blue: #3B5997;
