// Define variables for your color scheme

// For example:
$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;

$background-gray: #DAE0E6;
$gray: #333333;
$light-gray: rgb(246,247,248);
$green: #006039;
$light-green: #34A753;
$blue: #3B5997;
