<h2 class='title-arr'>Sélectionnez</h2>
<div class="table-arr">
  <% @arrondissements.each do |arrondissement| %>
    <%= link_to(arrondissement.arrondissement, pari_path(arrondissement), class: 'arr') %>
  <% end %>
</div>
