<div class="modal">
  <div class="modal-content">
    <div class="logsi">
      <div class="login-btn">Login</div>
      <div class="signup-btn btn-opacity">Signup</div>
    </div>
    <div class="login"><%= render "devise/sessions/new" %></div>
    <div class="signup hidden"><%= render "devise/registrations/new" %></div>
  </div>
</div>
