<div class="login-form">
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.input :login,
                  required: false,
                  autofocus: false,
                  label: false,
                  placeholder: 'Username',
                  input_html: { autocomplete: "username" },
                  input_html: { class:'input-box' }%>
      <%= f.input :password,
                  required: false,
                  autofocus: false,
                  label: false,
                  placeholder: 'Password',
                  input_html: { autocomplete: "current-password" },
                  input_html: { class:'input-box' }%>

    <div class="form-actions">
      <%= f.button :submit, "Login", class:'submit-btn' %>
    </div>
  <% end %>

</div>
