<div class="main-container">

  <% @posts.each do |post| %>
    <div class="post">
      <div class="content">
        <h2 class="post-username"><%= post.user.username %></h2>
        <h2 class= "post-title"><%= post.title %></h2>
        <p>Content: <%= post.content %></p>
      </div>
      <div class="upvotes">
        <div class="upvote-icon"><i class="fas fa-sort-up"></i></div>
        <div class="number-upvotes"><%= post.post_upvotes.length %></div>
      </div>
    </div>
  <% end %>

</div>
