// DEFAULT
.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom: solid 1px $light-gray;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

// LOGO
.title {
  color:$green;
}

// SIGNUP

.li-signup {
  color:$green;
  font-weight: bold;
  text-decoration: none;
  text-decoration: none;
  display:block;
  border: 2px solid $green;
  border-radius: 8px;
  width: 140px;
  height: 35px;
  text-align: center;
  margin-left: 20px;
  background-color:white;
  vertical-align: middle;
  line-height: 31px;
}

.li-signup:hover {
  color:$green;
  text-decoration: none;
  opacity: 0.8;
}

// LOGIN

.li-login {
  color:white;
  font-weight: bold;
  text-decoration: none;
  text-decoration: none;
  display:block;
  border: 2px solid $green;
  border-radius: 8px;
  width: 140px;
  height: 35px;
  text-align: center;
  margin-left: 20px;
  background-color:$green;
  vertical-align: middle;
  line-height: 31px;
}

.li-login:hover {
  color:white;
  text-decoration: none;
  opacity: 0.8;
}

// AVATAR

.fas.fa-user {
  border: 1px solid $light-gray;
  border-radius: 2px;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.fas.fa-user:hover {
  opacity: 0.6;
}
