// LOGIN
.login {
    display: flex;
    border: 2px solid $green;
    border-radius: 8px;
    width: 140px;
    height: 35px;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    background-color:$green;
}

.login:hover {
  opacity: 0.8;
}

.li-login {
  color:white;
  font-weight: bold;
  text-decoration: none;
}

.li-login:hover {
  color:white;
  text-decoration: none;
}

// FORM
.login-form {
  width:150px;
  display:flex;
  text-align: -webkit-center;
}

.login-form label{
  font-size:10px;
  font-weight:bold;
  color: $light-gray;
}

.form-control.string.email.optional{
background-color: white !important;
}

.form-group{
  margin:0;
}

.form-actions{
  display:flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $green;
  border-radius: 8px;
  height:20px;
  width:85px;
  background-color: $green;
}

.form-actions input{
  font-size: 15px;
  font-weight:bold;
  color:white;
}

.form-control {
  height:25px;
}

.pwd-link {
  font-size: 8px;
}
