.login-form {
  width: 400px;
  margin: 0 auto;
  margin-top: 250px;
  text-align: center;
}

.submit-btn {
  border: 2px solid $green;
  border-radius: 6px;
  width: 150px;
  font-weight: bold;
  color: $green;
}

.submit-btn:hover {
  border: 2px solid $green;
  border-radius: 6px;
  width: 150px;
  font-weight: bold;
  color: $green;
  opacity:0.6;
}
