// Post box
.post {
  display: flex;
  padding: 5px;
  margin-top: 15px;
  border: 1px solid $light-gray;
  border-radius: 6px;
  background-color: white;
}

.post-for-new {
  display: flex;
  padding: 5px;
  margin-top: 15px;
  border: 1px solid $light-gray;
  border-radius: 6px;
  background-color: white;
}

.post:hover {
  cursor: pointer;
}

// Time and username

.post-username {
  font-size: 12px;
  font-weight: bold;
}

.username-and-time{
  display:flex;
}

.time-ago {
  color: lightgrey;
  font-size: 12px;
  margin-left: 8px;
}

// Post title

.post-title {
  font-size: 20px;
  font-weight: bold;
}

// Upvote Bar

.upvotes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-left: 1px solid $light-gray;
  padding: 10px;
  margin-left: 10px
}

.upvote-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  width: 20px;
  height: 20px;
  color: $gray;
}

.upvote-icon:hover {
  border: solid 1px $light-green;
  border-radius: 2px;
  background-color: $light-green;
  color: white;
  width: 20px;
  height: 20px;
}

.number-upvotes {
  margin-top: 10px;
}
